@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../../public/fonts/Inter-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../../public/fonts/Inter-SemiBold.ttf") format("ttf");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../../public/fonts/Inter-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../../public/fonts/Inter-Regular.ttf") format("ttf");
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
@media (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #14142b;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

button {
  background-color: transparent;
}

a,
button,
input {
  border: 0;
  outline: 0;
  color: inherit;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 72px;
  background-color: #ffffff;
  padding: 0 8rem;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 10000000000000000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 3.2rem;
}
@media (max-width: 900px) {
  .header {
    padding: 0 3.6rem;
  }
}
@media (max-width: 600px) {
  .header {
    padding: 0 2.4rem;
  }
}
.header__menu {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  list-style: none;
  flex: 1;
  height: 100%;
}
@media (max-width: 1200px) {
  .header__menu {
    flex: 0;
  }
}
@media (max-width: 600px) {
  .header__menu {
    display: none;
  }
}
.header__menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
.header__menu-item {
  padding: 0 1.2rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
.header__menu-item a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #14142b;
  transition: 0.5s;
  position: relative;
  top: -50%;
  right: auto;
  bottom: auto;
  left: 50%;
  z-index: 0;
  transform: translate(-50%, -50%);
}
.header__menu-item:hover a::after {
  width: 100%;
}
.header__socical {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1.6rem;
}
@media (max-width: 600px) {
  .header__socical {
    display: none;
  }
}
.header__socical-icon {
  width: 2.5rem;
  height: 2.5rem;
  transition: 0.3s;
}
.header__socical-icon:hover {
  transform: scale(1.2);
}
.header__menu-icon {
  display: none;
  width: 2.3rem;
  height: 2.3rem;
  fill: #14142b;
  cursor: pointer;
}
@media (max-width: 600px) {
  .header__menu-icon {
    display: block;
  }
}
.header__menu-mobile {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
@media (max-width: 600px) {
  .header__menu-mobile {
    display: block;
  }
}
.header__menu-mobile.show {
  opacity: 1;
  visibility: visible;
}
.header__menu-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.header__menu-mobile.show .header__menu-overlay {
  opacity: 1;
  visibility: visible;
}
.header__menu-mobile.show .header__menu-dropdown {
  transform: translateX(0);
}
.header__menu-dropdown {
  width: 32rem;
  background-color: #ffffff;
  transition: 0.3s;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  z-index: 99999999;
  transform: translate(100%, 0);
}
.header__menu-icon-mobile {
  width: 100%;
  height: 72px;
  fill: #14142b;
  cursor: pointer;
  border-bottom: 1px solid #14142b;
  padding-right: 2.4rem;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
.header__list-mobile {
  width: 100%;
  padding-top: 2.4rem;
  padding-right: 2.4rem;
  display: flex;
  justify-content: start;
  align-items: end;
  flex-wrap: nowrap;
  gap: 1.6rem;
  flex-direction: column;
}
.header__list-mobile li {
  padding: 0;
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #14142b;
}
.header__socical-mobile {
  padding-top: 3.2rem;
  padding-right: 2.4rem;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1.6rem;
}

.footer {
  width: 100%;
  background-color: #ffffff;
  color: #ffffff;
  margin-top: 20rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  flex-direction: column;
}
@media (max-width: 1200px) {
  .footer {
    margin-top: 0;
  }
}
.footer__oursponsors {
  max-width: 1440px;
  width: 100%;
  padding: 6.4rem 8rem;
  position: absolute;
  top: -50%;
  right: auto;
  bottom: auto;
  left: 50%;
  z-index: 0;
  transform: translate(-50%, 20%);
}
@media (max-width: 900px) {
  .footer__oursponsors {
    position: relative;
    top: -50%;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 0;
    transform: translate(0, 0);
  }
}
@media (max-width: 1400px) {
  .footer__oursponsors {
    padding: 4.4rem 6rem;
  }
}
@media (max-width: 1200px) {
  .footer__oursponsors {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 0;
    transform: translate(0, 0);
    padding: 0;
  }
}
.footer__oursponsors-container {
  background-color: #503ae7;
  padding: 7.2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 6.4rem;
  flex-direction: column;
}
@media (max-width: 1200px) {
  .footer__oursponsors-container {
    padding: 5.4rem 0;
  }
}
@media (max-width: 1536px) {
  .footer__oursponsors-container {
    padding: 5.4rem 0rem;
  }
}
.footer__oursponsors-heading {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.2;
  color: #ffffff;
}
.footer__oursponsors-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
}
.footer__oursponsors-logos a {
  transition: 0.3s;
  padding: 0 3.6rem;
}
.footer__oursponsors-logos a img {
  width: 18rem;
}
@media (max-width: 1536px) {
  .footer__oursponsors-logos a {
    padding: 1.6rem;
  }
}
.footer__oursponsors-logos a:hover {
  transform: scale(1.2);
}
.footer__content {
  width: 100%;
  background-color: #14142b;
  padding: 19.2rem 8rem 9.6rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
  gap: 0;
}
@media (max-width: 900px) {
  .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: nowrap;
    gap: 1.6rem;
    flex-direction: column;
    padding-top: 9.6rem;
  }
}
.footer__content-logo img {
  width: 20rem;
}
.footer__content-col {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  gap: 3.2rem;
  flex-direction: column;
}
@media (max-width: 900px) {
  .footer__content-col {
    width: 100%;
  }
}
.footer__content-heading {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.5;
  color: #ffffff;
}
.footer__content-item {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
  gap: 1.6rem;
  flex-direction: column;
}
@media (max-width: 900px) {
  .footer__content-item {
    width: 100%;
  }
}
.footer__content-item a {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #ffffff;
}
.footer__content-item a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  transition: 0.5s;
  position: relative;
  top: -50%;
  right: auto;
  bottom: auto;
  left: 50%;
  z-index: 0;
  transform: translate(-50%, -50%);
}
.footer__content-item a:hover::after {
  width: 100%;
}
.footer__content-sub-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 3.2rem;
  flex-direction: column;
}
@media (max-width: 900px) {
  .footer__content-sub-item {
    display: none;
  }
}
.footer__content-sub-item a {
  width: 100%;
  transition: 0.3s;
}
.footer__content-sub-item a:hover {
  transform: scale(1.2);
}
.footer__content-sub-item-mobile {
  display: none;
}
@media (max-width: 900px) {
  .footer__content-sub-item-mobile {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 3.2rem;
  }
}
.footer__content-sub-item-mobile a {
  width: 100%;
}
.footer__content-sub-item-mobile a:hover {
  transform: scale(1.2);
}
.footer__end {
  width: 100%;
  padding: 2rem 0;
  background-color: #503ae7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #ffffff;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8.6rem;
}
.brand__heading {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 1.5;
  color: #14142b;
}
.brand img {
  width: 100%;
}
@media (max-width: 1200px) {
  .brand {
    gap: 2.4rem;
  }
}
@media (max-width: 900px) {
  .brand {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: nowrap;
    gap: 3.6rem;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .brand {
    display: none;
  }
}
.brand__img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8rem;
}
@media (max-width: 900px) {
  .brand__img {
    gap: 3.6rem;
  }
}
@media (max-width: 600px) {
  .brand__img {
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: nowrap;
    gap: 2.4rem;
    flex-direction: column;
  }
}

.recent {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: nowrap;
  gap: 6.4rem;
  flex-direction: column;
}
.recent__row {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: nowrap;
  gap: 1.6rem;
  flex-direction: column;
}
.recent__row-sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
@media (max-width: 600px) {
  .recent__row-sub {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: nowrap;
    gap: 3.6rem;
    flex-direction: column;
  }
}
.recent__heading {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.2;
  color: #14142b;
}
.recent__sub {
  width: 37.1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #14142b;
}
.recent__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #14142b;
  padding: 1.2rem 3.2rem;
  border: 2px solid #503ae7;
  background-color: #503ae7;
  color: #ffffff;
  transition: 0.3s;
}
.recent__btn:hover {
  border-color: #3e2db2;
  background-color: #3e2db2;
}
.recent__row-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1.6rem;
}
@media (max-width: 600px) {
  .recent__row-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5.4rem;
    flex-direction: column;
  }
}
.recent__row-content-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 3.2rem;
  flex-direction: column;
}
@media (max-width: 600px) {
  .recent__row-content-item {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: nowrap;
    gap: 4.4rem;
    flex-direction: column;
  }
}
.recent__item-img {
  width: 100%;
  position: relative;
}
.recent__item-img img {
  width: 100%;
}
.recent__item-mic {
  width: 4rem;
  height: 4rem;
  background-color: #503ae7;
  border-radius: 4rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  bottom: auto;
  left: auto;
  z-index: 0;
}
.recent__item-mic svg {
  width: 1.4rem;
  height: 2rem;
  fill: #ffffff;
}
.recent__item-content {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  gap: 1.6rem;
  flex-direction: column;
}
@media (max-width: 600px) {
  .recent__item-content {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: nowrap;
    gap: 2.4rem;
    flex-direction: column;
  }
}
.recent__item-content-heading {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 1.25;
  color: #14142b;
}
.recent__item-content-sub {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #14142b;
}
.recent__item-content-btntext {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.8rem;
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #503ae7;
  font-weight: 600;
}
.recent__item-content-btntext .play-icon {
  width: 3.2rem;
  height: 3.2rem;
  background-color: #503ae7;
  border-radius: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recent__item-content-btntext img {
  width: 1.3rem;
  height: 1.3rem;
  margin-left: 0.2rem;
}
.recent__item-content-btntext:hover {
  color: #3e2db2;
}
.recent__item-content-btntext:hover .play-icon {
  background-color: #3e2db2;
}

.subscribe {
  padding: 0 8rem;
}
@media (max-width: 900px) {
  .subscribe {
    padding: 0 3.6rem;
  }
}
@media (max-width: 900px) {
  .subscribe {
    padding: 0 2.4rem;
  }
}
.subscribe__container {
  background-color: #503ae7;
  position: relative;
  padding: 9.6rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 3.2rem;
  flex-direction: column;
}
@media (max-width: 600px) {
  .subscribe__container {
    padding: 7.6rem 1.6rem;
    text-align: center;
  }
}
.subscribe__heading {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.2;
  color: #ffffff;
}
.subscribe__input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
.subscribe__input-email {
  width: 36.7rem;
  height: 4.8rem;
  padding-left: 1.6rem;
}
@media (max-width: 600px) {
  .subscribe__input-email {
    width: 100%;
  }
}
.subscribe__input-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #14142b;
  padding: 1.2rem 3.2rem;
  border: 2px solid #503ae7;
  background-color: #1ad993;
  color: #14142b;
  transition: 0.3s;
  border: 0;
}
.subscribe__input-btn:hover {
  border-color: #3e2db2;
  background-color: #3e2db2;
}
.subscribe__bgr {
  fill: rgba(255, 255, 255, 0.2549019608);
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0rem;
  left: auto;
  z-index: 99999;
}
.subscribe__mic-left {
  background-color: #ffffff;
  width: 9.4rem;
  height: 9.4rem;
  border-radius: 9.4rem;
  position: relative;
  transform: rotate(-15deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  position: absolute;
  top: 7.605rem;
  right: auto;
  bottom: auto;
  left: 8%;
  z-index: 0;
}
.subscribe__mic-left svg {
  width: 3.2rem;
  height: 4.67rem;
  fill: #14142b;
}
@media (max-width: 1400px) {
  .subscribe__mic-left {
    width: 7.4rem;
    height: 7.4rem;
  }
}
@media (max-width: 900px) {
  .subscribe__mic-left {
    display: none;
  }
}
.subscribe__turn-left {
  width: 3.284rem;
  height: 3.284rem;
  background-color: #1ad993;
  border-radius: 3.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  position: absolute;
  top: auto;
  right: 8%;
  bottom: 7.883rem;
  left: auto;
  z-index: 0;
}
.subscribe__turn-left p {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #ffffff;
}
@media (max-width: 1400px) {
  .subscribe__turn-left {
    width: 2.284rem;
    height: 2.284rem;
    position: absolute;
    top: auto;
    right: 8%;
    bottom: 5.8rem;
    left: auto;
    z-index: 0;
  }
  .subscribe__turn-left p {
    font-size: 1.2rem;
  }
}
.subscribe__mic-right {
  background-color: #ffffff;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 9.4rem;
  position: relative;
  transform: rotate(14deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  position: absolute;
  top: 18.616rem;
  right: 9.8rem;
  bottom: auto;
  left: auto;
  z-index: 0;
}
.subscribe__mic-right svg {
  width: 1.648rem;
  height: 2.408rem;
  fill: #14142b;
}
@media (max-width: 900px) {
  .subscribe__mic-right {
    display: none;
  }
}
.subscribe__turn-right {
  width: 1.694rem;
  height: 1.694rem;
  background-color: #1ad993;
  border-radius: 3.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  position: absolute;
  top: auto;
  right: auto;
  bottom: 3.37rem;
  left: 3rem;
  z-index: 0;
}
.subscribe__turn-right p {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #ffffff;
  font-size: 0.8rem;
}

.news {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: nowrap;
  gap: 1.6rem;
}
@media (max-width: 600px) {
  .news {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2.4rem;
    flex-direction: column;
  }
}
.news__card {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  gap: 3.2rem;
  flex-direction: column;
}
.news__card img {
  width: 100%;
}
.news__card:nth-child(1) {
  width: 100%;
  padding: 4rem;
  background-color: #f4f2ff;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  gap: 1.6rem;
  flex-direction: column;
}
@media (max-width: 1400px) {
  .news__card:nth-child(1) {
    padding: 2rem;
  }
}
.news__heading {
  width: 25rem;
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.2;
  color: #14142b;
}
@media (max-width: 600px) {
  .news__heading {
    width: 100%;
  }
}
.news__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #503ae7;
  font-weight: 600;
}
.news__btn .play-icon {
  width: 3.2rem;
  height: 3.2rem;
  background-color: #503ae7;
  border-radius: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news__btn img {
  width: 1.3rem;
  height: 1.3rem;
  margin-left: 0.2rem;
}
.news__btn:hover {
  color: #3e2db2;
}
.news__btn:hover .play-icon {
  background-color: #3e2db2;
}
.news__line {
  transform: rotate(45deg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 9rem;
  position: absolute;
  top: 10rem;
  right: auto;
  bottom: auto;
  left: -1rem;
  z-index: 1;
}
@media (max-width: 600px) {
  .news__line {
    display: none;
  }
}
.news__line--purple-1 {
  width: 7rem;
  height: 23rem;
  background-color: #503ae7;
}
.news__line--purple-2 {
  width: 7rem;
  height: 42rem;
  background-color: #503ae7;
}
.news__line--green-1 {
  width: 7rem;
  height: 61rem;
  background-color: #1ad993;
}
.news__content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
  gap: 1.6rem;
  flex-direction: column;
}
.news__content-heading {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.container {
  padding: 6.4rem 8rem;
}
@media (max-width: 900px) {
  .container {
    padding: 6.4rem 3.6rem;
  }
}
@media (max-width: 600px) {
  .container {
    padding: 4.6rem 2.4rem;
  }
}

.home {
  background-color: #ffffff;
}
.home__hero {
  width: 100%;
  padding: 12.8rem 20.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10.6rem;
}
@media (max-width: 1400px) {
  .home__hero {
    padding: 10rem 15rem;
  }
}
@media (max-width: 1200px) {
  .home__hero {
    padding: 10rem 12rem;
  }
}
@media (max-width: 900px) {
  .home__hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 3.6rem;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .home__hero {
    padding: 12rem 2.4rem 6.4rem 2.4rem;
  }
}
.home__hero-col {
  text-align: left;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-wrap: nowrap;
  gap: 3.2rem;
  flex-direction: column;
}
@media (max-width: 900px) {
  .home__hero-col {
    text-align: center;
    align-items: center;
  }
}
.home__hero-heading {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1.1;
  color: #14142b;
}
@media (max-width: 900px) {
  .home__hero-heading {
    width: 50rem;
  }
}
@media (max-width: 600px) {
  .home__hero-heading {
    width: 100%;
  }
}
.home__hero-content {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #14142b;
}
@media (max-width: 900px) {
  .home__hero-content {
    width: 100%;
  }
}
.home__hero-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  height: 5.2rem;
  width: 100%;
}
@media (max-width: 900px) {
  .home__hero-input {
    display: none;
  }
}
.home__hero-input-mobile {
  display: none;
  height: 5.2rem;
  width: 100%;
}
@media (max-width: 900px) {
  .home__hero-input-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0;
  }
}
.home__hero-input-email {
  width: 100%;
  height: 100%;
  padding-left: 1.6rem;
  background-color: #f4f2ff;
}
.home__hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #14142b;
  padding: 1.2rem 3.2rem;
  border: 2px solid #503ae7;
  background-color: #503ae7;
  color: #ffffff;
  transition: 0.3s;
}
.home__hero-btn:hover {
  border-color: #3e2db2;
  background-color: #3e2db2;
}
.home__hero-line {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
@media (max-width: 900px) {
  .home__hero-line {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 6.2rem;
  }
}
@media (max-width: 600px) {
  .home__hero-line {
    padding: 0 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0;
  }
}
.home__hero-line--blue {
  background-color: #503ae7;
}
.home__hero-line--green {
  background-color: #1ad993;
}
.home__hero-line .small {
  height: 9.9rem;
  width: 3.2rem;
}
.home__hero-line .medium {
  height: 17.8rem;
  width: 3.2rem;
}
.home__hero-line .big {
  height: 25.6rem;
  width: 3.2rem;
}
.home__introduct {
  width: 100%;
  padding: 6.4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 12.8rem;
  flex-direction: column;
}
@media (max-width: 900px) {
  .home__introduct {
    gap: 6.4rem;
  }
}
.home__introduct-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
.home__introduct-row:nth-child(even) {
  flex-direction: row-reverse;
}
@media (max-width: 600px) {
  .home__introduct-row:nth-child(even) {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .home__introduct-row {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: nowrap;
    gap: 3.6rem;
    flex-direction: column;
  }
}
.home__introduct-makers-col--left {
  width: 50%;
  position: relative;
  padding: 0 13.1rem 0 18.8rem;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2.8rem;
  flex-direction: column;
}
@media (max-width: 1200px) {
  .home__introduct-makers-col--left {
    padding: 0 6rem;
  }
}
@media (max-width: 600px) {
  .home__introduct-makers-col--left {
    width: 100%;
  }
}
.home__introduct-makers-heading {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.2;
  color: #14142b;
}
.home__introduct-makers-sub {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #14142b;
}
.home__introduct-makers-col--right {
  width: 50%;
  background-color: #503ae7;
  padding: 5.6rem 23.3rem 5.6rem 9.3rem;
  position: relative;
}
@media (max-width: 1400px) {
  .home__introduct-makers-col--right {
    padding: 5.6rem 9.3rem;
  }
}
@media (max-width: 1200px) {
  .home__introduct-makers-col--right {
    height: 100%;
  }
}
@media (max-width: 900px) {
  .home__introduct-makers-col--right {
    padding: 3.6rem 6.3rem;
  }
}
@media (max-width: 600px) {
  .home__introduct-makers-col--right {
    width: 100%;
  }
}
.home__introduct-makers-people {
  width: 100%;
}
.home__introduct-makers-people-position {
  position: absolute;
  top: 65%;
  right: auto;
  bottom: auto;
  left: 8.3rem;
  z-index: 0;
}
@media (max-width: 900px) {
  .home__introduct-makers-people-position {
    width: 20%;
  }
}
.home__introduct-makers-line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
}
.home__introduct-makers-line .purple {
  background-color: #832bc1;
}
.home__introduct-makers-line .green {
  background-color: #1ad993;
}
.home__introduct-makers-line--purple-1 {
  width: 2rem;
  height: 0.8rem;
  position: absolute;
  top: -7.2rem;
  right: auto;
  bottom: auto;
  left: 30%;
  z-index: 0;
}
@media (max-width: 900px) {
  .home__introduct-makers-line--purple-1 {
    position: absolute;
    top: -3.2rem;
    right: auto;
    bottom: auto;
    left: 30%;
    z-index: 0;
  }
}
.home__introduct-makers-line--purple-2 {
  width: 5.8rem;
  height: 0.8rem;
  position: absolute;
  top: -7.2rem;
  right: 8rem;
  bottom: auto;
  left: auto;
  z-index: 0;
}
@media (max-width: 900px) {
  .home__introduct-makers-line--purple-2 {
    position: absolute;
    top: -3.2rem;
    right: 8rem;
    bottom: auto;
    left: auto;
    z-index: 0;
  }
}
.home__introduct-makers-line--green-1 {
  width: 2.8rem;
  height: 0.8rem;
  position: absolute;
  top: 25%;
  right: auto;
  bottom: auto;
  left: 7.9rem;
  z-index: 0;
}
@media (max-width: 900px) {
  .home__introduct-makers-line--green-1 {
    position: absolute;
    top: 25%;
    right: auto;
    bottom: auto;
    left: 6.9rem;
    z-index: 0;
  }
}
@media (max-width: 600px) {
  .home__introduct-makers-line--green-1 {
    position: absolute;
    top: 25%;
    right: auto;
    bottom: auto;
    left: 5.4rem;
    z-index: 0;
  }
}
.home__introduct-makers-line--green-2 {
  width: 5.8rem;
  height: 0.8rem;
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 46rem;
  z-index: 0;
}
@media (max-width: 1400px) {
  .home__introduct-makers-line--green-2 {
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 80%;
    z-index: 0;
  }
}
@media (max-width: 900px) {
  .home__introduct-makers-line--green-2 {
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 75%;
    z-index: 0;
  }
}
@media (max-width: 900px) {
  .home__introduct-makers-line--green-2 {
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 80%;
    z-index: 0;
  }
}
.home__introduct-makers-line--green-3 {
  width: 5.8rem;
  height: 0.8rem;
  position: absolute;
  top: 56%;
  right: auto;
  bottom: auto;
  left: 50rem;
  z-index: 0;
}
@media (max-width: 1400px) {
  .home__introduct-makers-line--green-3 {
    position: absolute;
    top: 56%;
    right: auto;
    bottom: auto;
    left: 85%;
    z-index: 0;
  }
}
@media (max-width: 900px) {
  .home__introduct-makers-line--green-3 {
    position: absolute;
    top: 56%;
    right: auto;
    bottom: auto;
    left: 83%;
    z-index: 0;
  }
}
@media (max-width: 900px) {
  .home__introduct-makers-line--green-3 {
    position: absolute;
    top: 56%;
    right: auto;
    bottom: auto;
    left: 85%;
    z-index: 0;
  }
}
.home__introduct-makers-line--green-4 {
  width: 8.8rem;
  height: 0.8rem;
  position: absolute;
  top: 62%;
  right: auto;
  bottom: auto;
  left: 44rem;
  z-index: 0;
}
@media (max-width: 1400px) {
  .home__introduct-makers-line--green-4 {
    position: absolute;
    top: 62%;
    right: auto;
    bottom: auto;
    left: 78%;
    z-index: 0;
  }
}
@media (max-width: 900px) {
  .home__introduct-makers-line--green-4 {
    position: absolute;
    top: 62%;
    right: auto;
    bottom: auto;
    left: 73%;
    z-index: 0;
  }
}
@media (max-width: 900px) {
  .home__introduct-makers-line--green-4 {
    position: absolute;
    top: 62%;
    right: auto;
    bottom: auto;
    left: 78%;
    z-index: 0;
  }
}
.home__introduct-makers-line--green-5 {
  width: 5.8rem;
  height: 0.8rem;
  position: absolute;
  top: auto;
  right: auto;
  bottom: -7.2rem;
  left: 13.7rem;
  z-index: 0;
}
@media (max-width: 900px) {
  .home__introduct-makers-line--green-5 {
    position: absolute;
    top: auto;
    right: auto;
    bottom: -5.2rem;
    left: 13.7rem;
    z-index: 0;
  }
}
@media (max-width: 900px) {
  .home__introduct-makers-line--green-5 {
    position: absolute;
    top: auto;
    right: auto;
    bottom: -1.2rem;
    left: 13.7rem;
    z-index: 0;
  }
}
.home__introduct-origin-col--right {
  width: 50%;
  position: relative;
}
@media (max-width: 900px) {
  .home__introduct-origin-col--right {
    width: 100%;
  }
}
.home__introduct-origin-img {
  width: 100%;
}
.home__introduct-origin-follow {
  padding: 3.2rem;
  background-color: #503ae7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1.6rem;
  position: absolute;
  top: 65%;
  right: -5%;
  bottom: auto;
  left: auto;
  z-index: 2;
}
.home__introduct-origin-follow p {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
  color: #ffffff;
}
@media (max-width: 900px) {
  .home__introduct-origin-follow p {
    font-size: 1.5rem;
  }
}
@media (max-width: 900px) {
  .home__introduct-origin-follow {
    padding: 1.6rem;
  }
  .home__introduct-origin-follow img {
    width: 2.4rem;
  }
}
@media (max-width: 600px) {
  .home__introduct-origin-follow {
    position: absolute;
    top: 80%;
    right: 5%;
    bottom: auto;
    left: auto;
    z-index: 2;
  }
}
.home__introduct-origin-col--left {
  width: 50%;
  padding: 0 18.8rem 0 13.1rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
  gap: 3.2rem;
  flex-direction: column;
}
@media (max-width: 1200px) {
  .home__introduct-origin-col--left {
    padding: 0 6rem;
  }
}
@media (max-width: 900px) {
  .home__introduct-origin-col--left {
    width: 100%;
  }
}
.home__introduct-origin-heading {
  width: 35.3rem;
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.2;
  color: #14142b;
}
@media (max-width: 900px) {
  .home__introduct-origin-heading {
    width: 100%;
  }
}
.home__introduct-origin-heading--blue {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.2;
  color: #503ae7;
}
.home__introduct-origin-line--green {
  width: 5.8rem;
  height: 1.1rem;
  background-color: #1ad993;
  position: absolute;
  top: -7rem;
  right: 18.8rem;
  bottom: auto;
  left: auto;
  z-index: 2;
}
@media (max-width: 900px) {
  .home__introduct-origin-line--green {
    position: absolute;
    top: -2rem;
    right: 18.8rem;
    bottom: auto;
    left: auto;
    z-index: 2;
  }
}
.home__blog {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: nowrap;
  gap: 6.4rem;
  flex-direction: column;
}
@media (max-width: 600px) {
  .home__blog {
    gap: 10.4rem;
  }
}
.home__blog-row {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: nowrap;
  gap: 1.6rem;
  flex-direction: column;
}
.home__blog-heading {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.2;
  color: #14142b;
}
.home__blog-sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
.home__blog-sub p {
  width: 50.9rem;
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #14142b;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 900px) {
  .home__blog-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20rem;
  }
}
.home__blog-arrow-left {
  width: 4.8rem;
  height: 4.8rem;
  background-color: #503ae7;
  cursor: pointer;
  border-radius: 4.8rem;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  position: absolute;
  top: 12rem;
  right: 15rem;
  bottom: auto;
  left: auto;
  z-index: 0;
}
.home__blog-arrow-left:hover {
  background-color: #3e2db2;
}
.home__blog-arrow-left:active {
  background-color: rgb(170, 170, 255);
}
@media (max-width: 600px) {
  .home__blog-arrow-left {
    position: absolute;
    top: 17rem;
    right: auto;
    bottom: auto;
    left: 2.4rem;
    z-index: 0;
  }
}
.home__blog-arrow-right {
  width: 4.8rem;
  height: 4.8rem;
  background-color: #503ae7;
  border-radius: 4.8rem;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  position: absolute;
  top: 12rem;
  right: 8rem;
  bottom: auto;
  left: auto;
  z-index: 0;
}
.home__blog-arrow-right:hover {
  background-color: #3e2db2;
}
.home__blog-arrow-right:active {
  background-color: rgb(170, 170, 255);
}
@media (max-width: 600px) {
  .home__blog-arrow-right {
    position: absolute;
    top: 17rem;
    right: auto;
    bottom: auto;
    left: 10.4rem;
    z-index: 0;
  }
}
.home__blog-content {
  width: 100%;
  position: static;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: nowrap;
  gap: 1.6rem;
}
.home__blog-content-col {
  width: 100%;
  height: 100%;
  padding: 0 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 3.2rem;
  flex-direction: column;
}
.home__blog-content-col:nth-child(3n) {
  padding-right: 0;
}
.home__blog-content-col:nth-child(3n+1) {
  padding-left: 0;
}
@media (max-width: 600px) {
  .home__blog-content-col:nth-child(odd) {
    padding-left: 0;
    padding-right: 0.8rem;
  }
  .home__blog-content-col:nth-child(even) {
    padding-right: 0;
    padding-left: 0.8rem;
  }
}
.home__blog-information {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: nowrap;
  gap: 1.6rem;
  flex-direction: column;
}
.home__blog-avt {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1.6rem;
}
.home__blog-star {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
@media (max-width: 900px) {
  .home__blog-img {
    width: 6rem;
    height: 6rem;
  }
}
.home__blog-evaluate {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: nowrap;
  gap: 0.8rem;
  flex-direction: column;
}
.home__blog-name {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #14142b;
}
.home__blog-content-sub {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #14142b;
}
.home__blog-line {
  width: 100%;
  height: 1.2rem;
  background-color: #503ae7;
}
.home .slick-track {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.home .slick-initialized .slick-slide {
  display: flex;
}
.home .slick-slider {
  position: none;
}

/*# sourceMappingURL=style.css.map */
