.news {
  @include dFlex($align: space-between, $gap: 1.6rem);

  @include maxWidth($sm) {
    @include dFlexCol($gap: 2.4rem);
  }

  &__card {
    width: 100%;
    @include dFlexCol(start, $align: start, $gap: 3.2rem);

    img {
      width: 100%;
    }

    &:nth-child(1) {
      width: 100%;
      padding: 4rem;
      background-color: $offWhiteColor;
      position: relative;
      overflow: hidden;
      @include dFlexCol(start, start, $gap: 1.6rem);

      @include maxWidth($ex) {
        padding: 2rem;
      }
    }
  }

  &__heading {
    width: 25rem;
    @include heading2;
    @include maxWidth($sm) {
      width: 100%;
    }
  }

  &__btn {
    @include btnText;
  }

  &__line {
    transform: rotate(45deg);
    @include dFlex($gap: 9rem);
    @include position($top: 10rem, $left: -1rem, $zIndex: 1);

    @include maxWidth($sm) {
      display: none;
    }
  }

  &__line--purple-1 {
    width: 7rem;
    height: 23rem;
    background-color: $blueColor;
  }

  &__line--purple-2 {
    width: 7rem;
    height: 42rem;
    background-color: $blueColor;
  }

  &__line--green-1 {
    width: 7rem;
    height: 61rem;
    background-color: $greenColor;
  }

  &__content {
    height: 100%;
    @include dFlexCol($align: start, $gap: 1.6rem);
  }

  &__content-heading {
    @include textOverflowEllipsis(2);
  }
}
