// sass ./src/pages/host/style.scss ./src/pages/host/style.css --watch

@import '../../scss/bases/base';

@import '../../scss/layouts/main';
@import '../../scss/layouts/header';
@import '../../scss/layouts/footer';
@import '../../scss/components/brand';
@import '../../scss/components/cta';
@import '../../scss/components/recent';

.host {
  background-color: $whiteColor;

  // hero

  &__hero {
    width: 100%;
    padding: 12.8rem 20.8rem;
    position: relative;

    @include dFlex($justify: center, $gap: 1.6rem);
    @include maxWidth($md) {
      flex-direction: column;
      padding: 4.6rem 2.4rem;
    }
  }

  &__hero-col--left {
    transform: translateY(4rem);
    @include maxWidth($sm) {
      width: 50%;
    }
  }

  &__hero-col--right {
    @include dFlexCol(center, start, $gap: 4.8rem);
  }

  &__hero-content {
    @include dFlexCol($align: start, $gap: 3.2rem);
  }

  &__hero-link {
    @include fontStyle(600, 1.6rem, 10.3, $blueColor);
  }

  &__hero-heading {
    width: 36.8rem;
    @include heading2;

    @include maxWidth($md) {
      width: 100%;
    }
  }

  &__hero-sub {
    width: 40rem;
    @include textBody;

    @include maxWidth($md) {
      width: 100%;
    }
  }

  &__hero-btn {
    @include btnPrimary;
  }

  &__hero-line--purple {
    width: 2.4rem;
    height: 0.8rem;
    background-color: $purpleColor;

    @include position($top: 20rem, $left: 25rem);
  }

  &__hero-line--green-1 {
    width: 2.4rem;
    height: 0.8rem;
    background-color: $greenColor;

    @include position($bottom: 16.6rem, $left: 10rem);

    @include maxWidth($lg) {
      display: none;
    }
  }

  &__hero-line--green-2 {
    width: 5.8rem;
    height: 0.8rem;
    background-color: $greenColor;

    @include position($bottom: 10rem, $right: 20rem);
  }

  // dream

  &__dream {
    width: 100%;

    @include dFlex($gap: 12.8rem);
    @include maxWidth($md) {
      gap: 6.4rem;
    }

    @include maxWidth($sm) {
      flex-direction: column;
    }
  }

  &__dream-col--left {
    width: 100%;
    position: relative;

    @include dFlexCol(space-between, start, $gap: 3.2rem);
  }

  &__dream-heading {
    @include heading2;
  }

  &__dream-content {
    @include textBody;
  }

  &__dream-sub {
    @include fontStyle(600, 1.6rem, 1.45, $blackColor);
  }

  &__dream-line--purple {
    width: 5.8rem;
    height: 0.8rem;
    background-color: $purpleColor;

    @include position($bottom: -0.4rem, $right: -5.8rem);
    @include maxWidth($md) {
      bottom: -3.2rem;
      right: -1.2rem;
    }
  }

  &__dream-col--right {
    width: 100%;
    position: relative;
  }

  &__dream-img {
    width: 100%;
  }

  &__dream-wave {
    @include position($left: -6.4rem, $bottom: -2rem);
    @include maxWidth($lg) {
      width: 70%;
    }

    @include maxWidth($md) {
      left: -3.2rem;
    }

    @include maxWidth($sm) {
      bottom: 0;
      left: 0;
    }
  }

  // ORIGIN

  &__origin {
    width: 100%;
  }

  &__origin-container {
    padding: 0 10.9rem 0 13.4rem;
    position: relative;

    @include dFlex($align: start, $gap: 6.4rem);

    @include maxWidth($lg) {
      padding: 0;
    }

    @include maxWidth($md) {
      flex-direction: column;
    }
  }

  &__origin-col {
    @include dFlexCol(start, start, 3.2rem);
  }

  &__origin-heading {
    width: 36rem;
    @include heading2;
  }

  &__origin-sub {
    @include dFlexCol($align: start, $gap: 3.2rem);
    p {
      @include textBody;
    }

    span {
      @include fontStyle($fontSize: 1.6rem, $lineHeight: 1.5, $textColor: $blackColor);
    }
  }
  &__origin-line--purple-1 {
    width: 2rem;
    height: 0.8rem;
    background-color: $purpleColor;

    @include position($left: 13.4rem, $bottom: 0);
    @include maxWidth($md) {
      bottom: -1.2rem;
    }
  }

  &__origin-line--purple-2 {
    width: 5.8rem;
    height: 0.8rem;
    background-color: $purpleColor;

    @include position($right: 0, $bottom: 0);
    @include maxWidth($md) {
      bottom: -1.2rem;
    }
  }

  // Achievements
  &__achievements {
    width: 100%;
    margin-top: 9.6rem;

    @include dFlex($gap: 1.6rem);

    @include maxWidth($lg) {
      flex-wrap: wrap;
    }

    @include maxWidth($sm) {
      flex-wrap: nowrap;
      flex-direction: column;
    }
  }

  &__achievements-item {
    padding: 6.4rem 4rem;
    background-color: $blueColor;

    @include dFlexCol($gap: 9.6rem);

    &:nth-child(even) {
      transform: translateY(-9.6rem);

      @include maxWidth($sm) {
        transform: translateY(0);
      }
    }

    @include maxWidth($ex) {
      padding: 5.4rem 2.4rem;
    }

    @include maxWidth($lg) {
      flex-basis: 48%;
    }

    @include maxWidth($sm) {
      width: 100%;
    }
  }

  &__achievements-content {
    width: 20rem;
    @include dFlexCol($align: start, $gap: 1.6rem);
    @include maxWidth($sm) {
      text-align: center;
    }
  }

  &__achievements-heading {
    width: 100%;

    @include fontStyle($lineHeight: 1.2, $textColor: $offWhiteColor);
  }

  &__achievements-sub {
    width: 100%;

    @include heading2($offWhiteColor);
  }
}
