$blackColor: #14142b;
$grayColor: #afb0b9;
$purpleColor: #832bc1;
$blueColor: #503ae7;
$aquamarineColor: #abffe0;
$greenColor: #1ad993;
$whiteColor: #ffffff;
$offWhiteColor: #f4f2ff;
$blueHoverColor: #3e2db2;
